body {
		background-color: lightblue;
}

.slidecontainer {
    width: 200px; /* Width of the outside container */
}

.slideform {
	width:70px;
}

.slider {
	width: 250px;
	background: white;
	border-radius: 0px; /*rounds the corners */
	height: 10px;

}

.slider::-webkit-slider-thumb { /*-webkit means that it changes the style for chrome/opera/safari/ie */
	background: #0099ff;
	width: 15px;
	height: 15px;
}

.slider::-moz-range-thumb { /* -moz means its for firefox the two should just be the same contents */
	background: #0099ff; /*light blue slider dot */
	width: 15px;
	height: 15px;
}