<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Code4Food</title>
  <style >
    .form-group {
        margin-bottom: 15px;
    }
    body{
        text-align: center;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
    }
    head{
      padding-top: :100px;
    }

  </style>
</head>
<body>


<h2 class="page-header">Login to check your devices</h2>
<!-- form -->
  <form action="/login" class="Login" method="post">
    <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- <a href="http://localhost:7554/settings"><h2> Settings</h2></a> -->
  
</body>
</html>
