<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Code4Food</title>
</head>
<body>
  <a href="http://localhost:7554/showDatabase"><h1>Here is what the database looks like</h1></a>
  <div id="database">
  </div>
  <form action="/login" class="Login" method="post" >
    <h1>Login</h1>
    <input name= "username" type="text" class="username" placeholder="username">
    <input name= "password" type="password"  class="password" placeholder="password">
    <input type="Submit" value="Login">
  </form>

  <a href="http://localhost:7554/settings"><h2> Settings</h2></a>
  
</body>
</html>
