body {
    background-color: lightblue;
}

h1 {
    color: blue;
    margin-left: 20px;
    background-color: lightblue;
}

.Login{
	background-color: green;
	width = 200px;
	margin: auto;
	color: red;
}