<!DOCTYPE html>
<html>
<head>
  <title>Code4Food</title>
</head>
<body>
	<h1> This is the home page - sky was here</h1>

	<form action="/logout" name="Logout" method="post" >
    	<input type="Submit" value="Logout">
  </form>
</body>